@media (max-width: 359.9px) {
  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;

    .dash-buttons {
      margin-top: 0.5rem;
    }
  }
}

// galaxy s5 vertical -> 361px

@media (max-width: 368px) {
  #skill-filter {
    width: 195px;
  }
}

@media (max-width: 375px) {
  .hide-search {
    display: none;
  }
}

// iphone vertical -> 376px
// iphone horizontal -> 668px
@media (max-width: 376px) {
  // modal
  // .modal {
  //   top: 15%;
  //   bottom: 15%;
  //   right: 5%;
  //   left: 5%;
  //   padding: 0.5rem;
  // }

  // .ReactModal__Content {
  //   h1 {
  //     font-size: 1.5rem;
  //   }

  //   form {
  //     p {
  //       font-size: 1.2rem;
  //       text-align: center;

  //       &:nth-child(2) {
  //         margin-bottom: 2rem;
  //       }
  //     }
  //   }

  //   input {
  //     text-align: center;
  //     margin: 0 auto;
  //     max-width: 90%;
  //   }
  // }

  // post
  .post-hide {
    display: none;
  }

  // posts list
  .post-form-header.bg-primary.mx-1 {
    margin: 0;
  }

  .post-form-header {
    div {
      display: flex;
    }
  }
  .container {
    .post.grid-bottom img {
      width: 40px;
    }

    .grid-bottom .img_container--posts {
      width: 40px;
      height: 40px;
    }
  }

  .posts .filter_results.mx-1 {
    margin: 0;
  }

  // navbar
  .navbar {
    justify-content: space-evenly;
  }

  .profile-top,
  .profile-about,
  .profile-exp,
  .profile-edu {
    padding: 1rem;
  }

  .dashboard-header.bg-primary.mx-1 .dash-buttons a {
    padding: 0.2rem 0.5rem;
  }
}

@media (max-width: 460px) {
  // developers list
  .hide-strict {
    display: none;
  }
}

@media (max-width: 480px) {
  // posts list
  .posts-hide {
    display: none;
  }

  .post-form-header {
    // flex-direction: column;
    // align-items: stretch;

    #filter {
      width: 65%;
      margin-right: 0.5rem;
    }

    div {
      display: flex;

      &:first-child {
        // margin-bottom: 1rem;
      }
    }
  }

  #thanks {
    left: 50%;
    margin-left: -150px;
  }
}

@media (max-width: 580px) {
  // post with comments
  .post_data {
    gap: 0.2rem;

    .img_container--posts {
      width: 60px;
      height: 60px;

      img {
        width: 60px;
      }
    }

    .comment__info {
      h2 {
        font-size: 1rem;
        word-break: normal;
        line-height: 1;
      }
      h4 {
        line-height: 1;
      }
    }
  }

  .comment.my-1.p-1 {
    grid-template-columns: 1fr;
    gap: 0.2rem;
    padding: 0;

    .comment__avatar_container {
      display: none;
    }

    textarea.comment__text_container {
      font-size: 1rem;
    }

    .comment__text_container {
      padding: 0.5rem;
      line-height: 1.2;
      margin: 0 0 0.5rem 0;
    }

    .comment__info,
    .comment__info--top {
      line-height: 1;
    }
    .comment__manageboard {
      .btn {
        padding: 0.4rem 0.6rem;
        line-height: 1.2;
        &:first-child {
          margin-right: 0.1rem;
        }
      }
    }
  }

  // posts list
  /* ---grid--- */

  /* buttons */
  .post {
    .btn {
      padding: 0.4rem 0.6rem;
      line-height: 1.2;
      &:first-child {
        margin-right: 0.1rem;
      }
    }
  }

  /* top */
  .grid-top {
    grid-template-columns: 1fr;
  }

  .post {
    padding: 0;
  }

  .post .form .post__text_container {
    margin-top: 0;
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: 0;
  }

  .post__avatar_container.top {
    display: none;
  }

  .comment__head_text {
    font-size: 0.8rem;
  }

  /* bottom */

  .grid-bottom {
    gap: 0.2rem;

    .comment__info {
      margin-top: 0.5rem;

      h2 {
        line-height: 1;
        font-size: 0.8rem;
        word-break: normal;
      }

      .comment__head_text {
        line-height: 1;
      }
    }
  }

  .comment__info.px-xs {
    padding-left: 0.3rem;
  }

  .post.grid-bottom img {
    width: 60px;
  }

  .grid-bottom .img_container--posts {
    width: 60px;
    height: 60px;
  }

  .post__avatar_container {
    align-self: start;
  }

  .post__text_container {
    padding: 0.5rem;
    margin-left: 0.3rem;

    p {
      line-height: 1.2;
      word-break: break-all;
    }
  }

  .comment__manageboard {
    p {
      font-size: 0.8rem;
    }
  }

  /* bottom */

  /* ---grid--- */
}

/* test */
@media (max-width: 600px) {
  // developers list
  .hide-skills {
    display: none;
  }

  .profile {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;

    div.img_container {
      width: 296px;
      height: 296px;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom: 0.5rem;
    }

    p:nth-child(2) {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 1rem;
    }

    .profile__summary {
      justify-self: stretch;
      align-items: center;
      div {
        text-align: center;
      }

      p:nth-child(3) {
        display: none;
      }
    }
  }
}
/* test */

@media (max-width: 616px) {
  .container__mini_banner {
    div:first-child {
      display: flex;
      flex-direction: column;
    }

    .avatar_manageboard {
      flex-direction: column;
    }

    button,
    a {
      padding: 0.4rem 1.3rem;
      line-height: 1.2;
      margin: 0;
      border: none;
    }

    a:first-child,
    button:first-child {
      margin-bottom: 0.2rem;
    }
  }
}

@media (max-width: 660px) {
  // developers list
  .hide-skills {
    display: none;
  }

  // profile
  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
    grid-template-columns: 1fr;
  }

  .profile-github {
    h2.text-primary.my-1 {
      margin: 1rem 0;
    }

    .repo {
      flex-direction: column;

      div:nth-child(2) {
        margin-top: 1.5rem;

        ul {
          display: flex;
          flex-direction: row;
          justify-content: center;

          li {
            min-width: 30%;
            margin-right: 0.2rem;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 668px) {
  // profile
  .container__mini_banner.mx-1 {
    margin: 0;
  }

  .profile-grid.m-1 {
    margin: 1rem 0;
  }

  // deelopers list
  .profile {
    margin-bottom: 0.5rem;
  }

  .container {
    padding: 0 1rem 0 1rem;
  }

  .section-head {
    margin: 1rem 0 0.5rem 0;
  }

  .developers-header {
    margin: 0;
    justify-content: space-between;
  }

  .profiles.my-1.p-1 {
    padding: 0;
  }

  // login, register, recover
  .container.welcome.bord-l {
    border-left: none;
    padding: 0 1rem 0 1rem;
    margin-top: 6rem;

    h1,
    .lead {
      margin-bottom: 0.5rem;
    }
  }

  // navbar
  .navbar {
    padding: 0.3rem 0.6rem;
    align-items: center;
    justify-content: space-between;

    h1 {
      padding: 0.5rem 0;
      line-height: 1;
      a {
        padding: 0;
      }
    }

    ul {
      padding: 0.5rem 0;
      a {
        padding: 0;
        margin-right: 0.6rem;
      }
    }
  }

  .hide-sm {
    display: none;
  }

  // dashboard
  .dashboard-header.bg-primary.mx-1 {
    margin: 0;
    padding: 0.5rem;

    h4 {
      padding: 0;
      margin: 0;
    }

    .dash-buttons {
      padding: 0;

      a {
        padding: 0.2rem 0.5rem;
      }
    }
  }

  .dash-hide {
    display: none;
  }

  .dashboard_main.my-1.p-1 {
    padding: 0;
  }

  .dashboard_main__separator {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .table {
      margin: 0;
      width: 100%;

      th,
      td {
        padding: 0.5rem;
      }
    }

    div {
      h2 {
        margin: 0 0 0.5rem 0.5rem;
      }
    }
  }

  .dashboard_manageboard.mx-1 {
    margin-left: 0;
    justify-content: flex-start;

    button,
    a {
      padding: 0.4rem 0.8rem;
    }
  }
}

// iphone X horizontal -> 813px
@media (max-width: 813px) and (orientation: landscape) {
  // login, register, recover
  .container.welcome.bord-l {
    border-left: none;
    padding: 0 1rem 0 1rem;
    margin-top: 6rem;

    h1,
    .lead {
      margin-bottom: 0.5rem;
    }
  }

  // deelopers list

  .profile {
    margin-bottom: 0.5rem;
  }

  .container {
    padding: 0 1rem 0 1rem;
  }

  .section-head {
    margin: 1rem 0 0.5rem 0;
  }

  .developers-header {
    margin: 0;
    justify-content: space-between;
  }

  .profiles.my-1.p-1 {
    padding: 0;
  }

  // dashboard
  .dashboard-header.bg-primary.mx-1 {
    margin: 0;
    padding: 0.5rem;

    h4 {
      padding: 0;
      margin: 0;
    }

    .dash-buttons {
      padding: 0;

      a {
        padding: 0.2rem 0.5rem;
      }
    }
  }

  .dash-hide {
    display: none;
  }

  .dashboard_main.my-1.p-1 {
    padding: 0;
  }

  .dashboard_main__separator {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .table {
      margin: 0;
      width: 100%;

      th,
      td {
        padding: 0.5rem;
      }
    }

    div {
      h2 {
        margin: 0 0 0.5rem 0.5rem;
      }
    }
  }

  .dashboard_manageboard.mx-1 {
    margin-left: 0;
    justify-content: flex-start;

    button,
    a {
      padding: 0.4rem 0.8rem;
    }
  }
}

// ipad vertical -> 796px
@media (max-width: 796px) {
  .profile-grid .profile-github .repo ul li {
    min-width: 60%;
  }

  h1.section-head.text-primary.mx-1 {
    margin: 1rem 0 0.5rem 0;
  }

  .dashboard-header.bg-primary.mx-1 {
    margin: 0;
  }
}

// iphone X horizontal -> 813px
@media (max-width: 813px) {
  .filter_results.mx-1 {
    margin: 0;
  }

  // forms
  #create_form,
  #exp_form,
  #edu_form,
  #edit_form {
    input,
    select,
    textarea {
      font-size: 1rem;
      padding: 0.3rem;
    }
    p {
      font-size: 1rem;
    }

    .social-input {
      margin: 0.5rem 0 0.5rem 0;
      align-items: center;
    }
  }

  // modal
  .modal {
    top: 25%;
    bottom: 25%;
    right: 5%;
    left: 5%;
  }

  // spinner
  .spinner {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
  }

  // post with comments
  .comment.my-1.p-1 {
    padding: 0;
  }

  .post_data {
    padding: 0;
  }

  .container__mini_banner.post-hide {
    margin: 0;
    margin-bottom: 1rem;
  }

  // posts list
  div.post.grid-top.my-1.p-1,
  div.post.grid-bottom.my-1.p-1 {
    padding: 0;
  }

  .post.grid-bottom .comment__info h2 {
    font-size: 1rem;
  }

  .post .form .post__text_container {
    font-size: 1rem;
  }

  .post__text_container {
    margin-top: 0;
  }

  .hide-sm {
    display: none;
  }

  .landing {
    .project_title {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      // margin-top: 15%;
    }
    .lead {
      font-size: 1.2rem;
    }
  }

  // posts list
  .post-form-header.bg-primary.mx-1 {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  // alerts
  .alert {
    margin: 0;
    width: 100vw;
  }

  .dashboard-header {
    .dash-hide {
      display: none;
    }
  }
}
