// container
.container {
  max-width: $max-width;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 3rem;
  overflow: hidden;
  padding: 0 2rem;
  &.welcome {
    max-width: 600px;
  }

  &__mini_banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

// text styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: $primary-color;
}

// backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: 1px solid #ccc;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: 1px solid #ccc;
  }
}

// buttons
.btn {
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;

  &.modal-red {
    padding: 0.6rem 1.3rem;
    border: 1.5px solid $red;
    border-radius: 5px;
    @include set-background($red);
    &:hover {
      background: lighten($red, 5%);
    }
  }

  &.modal-dark {
    padding: 0.6rem 1.3rem;
    border: 1.5px solid $dark;
    border-radius: 5px;
    &:hover {
      background: lighten($dark, 5%);
    }
  }

  &.modal-primary {
    padding: 0.6rem 1.3rem;
    border: 1.5px solid $primary-color;
    border-radius: 5px;
    @include set-background($primary-color);
    &:hover {
      background: lighten($primary-color, 5%);
    }
  }

  &.btn-primary {
    @include set-background($primary-color);
    &:hover {
      background: lighten($primary-color, 5%);
    }
  }
  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($dark-color, 5%);
    }
  }
  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($success-color, 5%);
    }
  }
  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($danger-color, 5%);
    }
  }
  &.btn-red {
    @include set-background($red);
    &:hover {
      background: lighten($red, 5%);
    }
  }
  &:hover {
    background: lighten($dark-color, 20%);
    color: #fff;
  }
}

// alerts
.alert {
  padding: 0.8rem;
  margin: 0 0 1rem 2rem;
  opacity: 0.9;
  background: lighten($primary-color, 10%);
  color: #fff;
  border-bottom: 3px solid $primary-color;
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 15vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.alert-primary {
    @include set-background($primary-color);
  }
  &.alert-dark {
    @include set-background($dark-color);
  }
  &.alert-success {
    background: lighten($success-color, 10%);
    color: #fff;
    border-bottom: 3px solid $success-color;
  }
  &.alert-danger {
    background: lighten($red, 10%);
    color: #fff;
    border-bottom: 3px solid $red;
  }

  p {
    line-height: 1;
    text-transform: uppercase;
  }

  i {
    margin-right: 0.5rem;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;

  video {
    position: absolute;
    z-index: 0;
  }
}

// images
.round-img {
  border-radius: 50%;
}

.img_container {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1.5px solid #fff;
  border-radius: 50%;

  &__img {
    height: auto;
    width: 100%;
  }
}

.img_container--posts {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;

  img {
    height: auto;
    width: 100%;
  }
}

.img_container--comments {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;

  img {
    height: auto;
    width: 100%;
  }
}

.img_container--smallest {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;

  img {
    height: auto;
    width: 100%;
  }
}

// lines
.line {
  height: 0.5px;
  background: darken($grey, 10%);
  margin: 1rem 0;
}

.line--modal {
  height: 0.5px;
  background: darken($grey, 10%);
  width: 100%;
}

.vertical_line {
  width: 1.5px;
  background: $grey;
}

// badges
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: $light-color;
  color: #333;

  &.badge-primary {
    // @include set-background($primary-color);
    border: 1px solid $primary-color;
    background: none;
  }
  &.badge-dark {
    // @include set-background($dark-color);
    border: 1px solid $dark-color;
    background: none;
  }
  &.badge-success {
    @include set-background($success-color);
  }
  &.badge-danger {
    @include set-background($danger-color);
  }
  &.badge-grey {
    // @include set-background(darken($grey, 10%));
    border: 1px solid darken($grey, 10%);
    background: none;
  }
}

// table
.table {
  th,
  td {
    padding: 1rem;
    text-align: left;
  }
  th {
    background: $light-color;
  }
}

// comments
.widget_red {
  color: $red;
}

.widget_dark {
  color: $dark-color;
}

.widget_grey {
  color: darken($grey, 10%);
}

.user_comment {
  @include set-background($dark-color);
  padding: 0.05rem 0.26rem 0.05rem 0.26rem;
  line-height: 1;
  border-radius: 8px;
  font-weight: 400;
}

.skill_item {
  @include set-background($dark-color);
  padding: 0.1rem 0.26rem 0.1rem 0.26rem;
  line-height: 1;
  border-radius: 8px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0.5rem;
}

// spinner
.spinner {
  position: fixed;
  left: 45%;
  top: 40%;
}
